EverythingButTheBagelCore/.swiftpm/xcode
EverythingButTheBagel.xcodeproj/project.xcworkspace/xcuserdata/
EverythingButTheBagel.xcodeproj/xcuserdata/
.sentryclirc
EverythingButTheBagelCore/.build
EverythingButTheBagelCore/build
build
**/.env
